<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>LOYO</title>
  
  
  </head>
  
  
  </html><div class="footerright">
          <a class="social-link twitter" href="https://twitter.com/Loyonow"></a>
          <a class="social-link facebook" href="https://www.facebook.com/profile.php?id=100004135936107"></a>
          <a class="social-link google" href="https://plus.google.com/xxxxx"></a>
        </div>
        
         

          <p>Connect with us via Facebook, Twitter or gmail:</p>
         
            <a href="http://www.facebook.com/profile.php?id=100004135936107"><img src="images/smedia-logo-fb.jpeg" alt="Connect with us on facebook" width="25" height="25"></a>
			<a href="https://twitter.com/loyonow"><img src="images/smedia-logo-tw.png" alt="twitter" width="25" height="25"></a>
            <a href="mailto:awelch.iit@gmail.com"><img src="images/smedia-logo-gm.png" alt="email" width="25" height="25"></a>  
          
                    <p>LOYO | Learn On Your Own | 3440 South Dearborn | Chicago, IL 60616 | loyonow@gmail.com | loyo-now.com</p>
          
          
          
          </html>
